// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

$main_color: rgb(99, 174, 221);

.navbar{
    z-index: 1;
    border: none;
    border-bottom: 5px solid $main_color;
    border-radius: 0px;
    background-color: white;
    color: $main_color;
    &-brand{
        font-family: lobster;
    }
    &-footer{
        top: 35px;
        //padding-top: 5px;
        height: 28px;
        width: 100%;
        background-color: white;
        border-bottom: 2px solid $main_color;
        position: absolute;
        @include transition( all, 1s, ease-in, 0.5s);
        @include translate( 0px, 0px);
        display: table;
        ul{
            display:table-cell; 
            vertical-align:middle; 
        }
    }
}

.dropped{
    @include transition( all, 1s, ease-in, 0.5s);
    @include translate( 0px, 30px);
}

.dropmenu{
    &-menu{
        margin: 0;
        padding: 0;
        text-align: center;
        list-style: none;
        li{
            display: inline;
        } 
    }
}

.container{
    @include transition( all, 1s, ease-in, 0.5s);
}